<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103658172245-kiuirfklvk339rqmv0q9aksjiqb0jcu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103658172245-kiuirfklvk339rqmv0q9aksjiqb0jcu8</string>
	<key>API_KEY</key>
	<string>AIzaSyBKrfVCWMdGopWYgOSeuDzNoj5LtuiOpAs</string>
	<key>GCM_SENDER_ID</key>
	<string>103658172245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.pumped</string>
	<key>PROJECT_ID</key>
	<string>pumped-motivation</string>
	<key>STORAGE_BUCKET</key>
	<string>pumped-motivation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103658172245:ios:6abe03020544b60f4ac9dc</string>
</dict>
</plist>